*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body{
    font-family: 'roboto', sans-serif;
    background-color: white;
}

:root{
    --primary-color: #2874f0;
}

header{
    background-color: var(--primary-color);
    height: 56px;

}

header .nav-container{
    display: flex;
    align-items: center;
    gap:50px;
    height: 100%;
    margin: 0 auto;
}

header .nav-container .logo {
    display: flex;
    min-width: 137px;
    justify-content: flex-end;
    /* border: 2px solid red; */
}

header .nav-container .logo  img{

     width: 80px;
}


header .search {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 15px;
    /* border: 2px solid orangered; */
}

header .search .search-container {
   width: 540px;
   height: 30px;
   background-color: white;
border-radius: 2px;
box-shadow: 0 2px 4px 0 rgb(0 0 0/ 23);    
display: flex;
}

header .search .search-container input {
    width: calc(100% - 32px);  
    padding: 11px;
    outline: none;
    border: none;
    text-align: center;
    font-size: 15px;
    font-weight: 100%;

}


header .search .search-container button{
    width: 36px;
    border: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

header .login {
     height: 100%;
     display: flex;
     align-items: center;

     margin: 0 20px;

}

header .login button {
    color: var(--primary-color);
    
     width: 122px;
     padding: 5 50px;
     font-size: 16px;
     font-weight: 600;
     height: 30px;
}

 
header .become-seller {
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    margin: 0 20px;
}

header .more{
    height:100%;
    display:flex;
    align-items:center;
    color:white;
    font-size:16px;
    font-weight:500;
    margin: 0px 20px
}

header .more svg{
    margin-left:5px;
    rotate:-95deg;
}

header .cart {
    height:100%;
    display:flex;
    align-items:center;
    color:white;
    font-size:16px;
    font-weight:500;
    margin: 0px 20px

}


header .cart svg {
    margin: 12px  
}

 
/* Section- 1 started here */

.section-1 {
    width: 100%;
    height: 122px;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}

 .section-1-container{
    width: 1280px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .section-1-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;

 }

 .section-1-items img {
    width: 64px;
    height: 64px;
 }

  /* Section -2 */

  .section-2-container {
    margin-top: 16px;
    height: 280px;

    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/3376/560/image/0735712fe84c602d.jpg?q=50);

   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .section-3-container {
    width: 100%;
    height: 122px;
    margin-top: 8px;
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/2848/246/image/d56a3ed6d200038a.jpg?q=50);
    background-repeat:no-repeat;
      background-size:cover;
      background-position:center;


  }


  /*  Section 4 started here */

  .section-4-container {

   
    margin-top: 8px;
    height: 362px;
    background-color: white    ;
    display: flex;
    justify-content: space-between;
    align-items: center;


  }
  .section-4-offers {
    width: 230px;
    height: 100%;
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/278/278/image/1e483f8045ec13a8.jpg?q=90
    )
    ;

    background-position: bottom;
    background-repeat: no-repeat;
    /* display: flex;
    align-content: center;
    align-items: center; */



  }

  .section-4-offers-viewall{

    margin-top: 132px;
    width: 100%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-4-offers-viewall button {
    background-color: var(--primary-color);
    color: white;
    width:  100px;
    height: 40px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0) / 20% ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    cursor: pointer;

  }

  .section-4-list{
    height: 100%;
    width: calc(100% -230px);
    display: flex;
    overflow-x: auto;


  }

  .section-4-item {
    width: 232px;
    height: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


  }

  .section-4-item img {

    max-width: 200px;
    max-height: 200px;


  }

  .section-4-item-head {

    margin-top: 16px;
    font-size: 15px;
    font-weight: 500;

  }

  .section-4-item-price {
    margin-top: 12px;
    font-size: 16px;
    color: #388e3c;
  }

  .section-4-item-exxplore {
    opacity: 0.6;
    margin-top: 15px;
    font-weight: 300;



  }

  /* Section-5 */

  .section-5 {

    margin-top: 8px;
    display: flex;
    justify-content: space-between;



  }

  .section-5 img {
    width: 33%;
     
 
  }


  /* Fotter */

  footer{
    margin-top: 26px;
    background-color: white;
    padding: 25px;
    text-align: center;
    font-size: 14px;
    color: #878787;

  }











